/* Universal selector */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: revert;
}

#pageTitle{
    margin-top: 50px;
}

body{
    background-color: black;
}

.navbar {
    background-color: maroon;
    color: maroon;
    font-weight: bold;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#homeTitle{
    margin-top: 50px;
}

.navbar-item{
    color: gainsboro;
    background-color: maroon;
}

#whatIsOnNav{
    font-size: large;
    color: gainsboro;
    background-color: maroon;
}

#whatIsOnNav:hover{
    background-color: maroon;
    color: white;
}

#nowShowing:hover{
    background-color: maroon;
    color: white;
}

#Popular:hover{
    background-color: maroon;
    color: white;
}

#TopRated:hover{
    background-color: maroon;
    color: white;
}

#favourites:hover{
    background-color: maroon;
    color: white;
}

.main{
    margin-top: 30px;
}

.homePageImage{
    width: 100%;
}

.homeImageTexts{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.homeSecondTitle {
    margin: 20px;
    margin-left: 0px;
    color: rgb(197, 197, 197);
}

.section {
    padding-top: 20px;
}

.sectionDiv {
    margin-top: 40px;
}

.columns {
    margin-bottom: 200px;
}

.modal a.close-modal {
    top: 5px;
    right: 5px;
}

#ex1 {
    /* display: flex; */
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: fit-content;
    max-width: 900px;
}

.modal {
    text-align: center;
    color: black;
    background-color: white;
}

.fa-heart:before {
    font-size: xxx-large;
    color: black;
}

#searchBar {
    margin-top: 5px;
    max-width: 200px;
}

.card{
    cursor: pointer;
    border: 3px;
    border-color: white;
    border-radius: 1.5px;
    border-width: 1.5px;
    border-style: outset;
    background-color: black;
}

.card:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px gray;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    border: 3px;
    border-color: gray;
    border-radius: 1.5px;
    border-width: 1.5px;
    border-style: outset;
}

.title{
    font-weight:bold;
    color: white;
    letter-spacing: 2px;
    margin-top: 30px;
}

#modalMoviesTitle{
    font-weight: bolder;
    letter-spacing: 2px;
}

#modalMovieGenreSpan,
#modalMoviePopSpan {
    font-weight: bold;
}

body.modal-js-example.modal.is-active {
    overflow: hidden;
    position: fixed;
}

@media screen and (min-width: 1024px) {
    .section {
        padding-top: 20px;
    }
}
